body {
  width:80% !important;
 margin: 0 auto !important ; 
 text-align: center;
 display: flex;
 align-items: center;
 min-height: 100vh;
 font-size: 20px;
 }
 input{
   border: 2px solid #333;
   border-radius: 0.3rem;
   padding: 0.7rem; 
   width: 10rem;
 }
 select{
   margin-left: 0.7rem;
 }
 .equals{
   font-size: 2rem;
 
 }